.elementor-439 .elementor-element.elementor-element-49d1ad1:not(.elementor-motion-effects-element-type-background), .elementor-439 .elementor-element.elementor-element-49d1ad1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #18182F 0%, #101023 100%);}.elementor-439 .elementor-element.elementor-element-49d1ad1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-439 .elementor-element.elementor-element-49d1ad1 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-439 .elementor-element.elementor-element-44b90ed > .elementor-container{min-height:596px;}.elementor-439 .elementor-element.elementor-element-44b90ed{margin-top:0px;margin-bottom:0px;}.elementor-439 .elementor-element.elementor-element-3614801 .elementor-menu-toggle{margin:0 auto;background-color:#000000;}.elementor-439 .elementor-element.elementor-element-3614801 .elementor-nav-menu .elementor-item{font-family:"ABeeZee", Sans-serif;font-weight:600;text-transform:uppercase;letter-spacing:0px;word-spacing:0.5px;}.elementor-439 .elementor-element.elementor-element-3614801 .elementor-nav-menu--main .elementor-item{color:#FFFFFF;fill:#FFFFFF;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-439 .elementor-element.elementor-element-3614801{--e-nav-menu-horizontal-menu-item-margin:calc( 0px / 2 );--nav-menu-icon-size:15px;z-index:0;}.elementor-439 .elementor-element.elementor-element-3614801 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:0px;}.elementor-439 .elementor-element.elementor-element-3614801 div.elementor-menu-toggle{color:#FFFFFF;}.elementor-439 .elementor-element.elementor-element-3614801 div.elementor-menu-toggle svg{fill:#FFFFFF;}.elementor-439 .elementor-element.elementor-element-3614801 > .elementor-widget-container{margin:0em 0em 0em 0em;padding:0% 0% 0% 0%;}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(13px/2);}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(13px/2);}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(13px/2);margin-left:calc(13px/2);}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-13px/2);margin-left:calc(-13px/2);}body.rtl .elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-13px/2);}body:not(.rtl) .elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-13px/2);}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-icon i{color:#E9AA02;}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-icon svg{fill:#E9AA02;}.elementor-439 .elementor-element.elementor-element-16685c6{--e-icon-list-icon-size:12px;}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-text{color:#FFFFFF;padding-left:0px;}.elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-439 .elementor-element.elementor-element-16685c6 .elementor-icon-list-item > a{font-size:14px;font-weight:500;}.elementor-439 .elementor-element.elementor-element-16685c6 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-b13edf9.elementor-social-icon{background-color:#101023;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-b13edf9.elementor-social-icon i{color:#E9AA02;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-b13edf9.elementor-social-icon svg{fill:#E9AA02;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-af501e0.elementor-social-icon{background-color:#101023;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-af501e0.elementor-social-icon i{color:#E9AA02;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-af501e0.elementor-social-icon svg{fill:#E9AA02;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-561e2a9.elementor-social-icon{background-color:#101023;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-561e2a9.elementor-social-icon i{color:#E9AA02;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-repeater-item-561e2a9.elementor-social-icon svg{fill:#E9AA02;}.elementor-439 .elementor-element.elementor-element-1d736ab{--grid-template-columns:repeat(3, auto);--icon-size:25px;--grid-column-gap:0px;--grid-row-gap:0px;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-widget-container{text-align:center;}.elementor-439 .elementor-element.elementor-element-1d736ab .elementor-social-icon{background-color:#020101;}/* Start custom CSS for nav-menu, class: .elementor-element-3614801 */.navmenu
li:hover {
    background-color: yellow;
    border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
    cursor: pointer;
    line-height: 1.6;
    transition: all 0.6s ease-in-out;
    border: 0px;
    
}

.navmenu
li
{
color: #fff;
 padding: .5rem 1rem !important;
 padding-right: .8rem !important;
padding-left: .8rem !important;

/*display: inline-block !important;*/
text-decoration: none;
transition: all 0.6s ease-in-out;
/*font-family: 'ABeeZee', serif;*/
border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
line-height: 1.6 !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-49d1ad1 */:root{
    --width: 24%;
    --narrow-width: 8%;
}

.elementor-439 .elementor-element.elementor-element-49d1ad1{
    width: var(--width);
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none
}
.elementor-439 .elementor-element.elementor-element-49d1ad1::-webkit-scrollbar{
    display: none;
}

.sidebar-toggle{
    cursor: pointer;
}

body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1{
    width: var(--narrow-width) !important;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-inner-section .elementor-widget-wrap{
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.elementor-439 .elementor-element.elementor-element-49d1ad1 .logo{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .logo{
    opacity: 0;
}
body.open .elementor-439 .elementor-element.elementor-element-49d1ad1 .logo{
    display: none;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .sidebar-toggle{
    right: 26px;
}
.elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-widget-search-form form{
    position: relative;
}
.elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-widget-search-form form:before{
    z-index: 1;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-search-form__icon{
    padding-left: 14px !important;
}
.elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-icon-list-text{
    opacity: 0;
}

.elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .elementor-widget-image-box{
    opacity: 0;
}
.elementor-439 .elementor-element.elementor-element-49d1ad1 .user{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-439 .elementor-element.elementor-element-49d1ad1 .user .elementor-widget-wrap{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
body.opening  .elementor-439 .elementor-element.elementor-element-49d1ad1 .user img {
    width: 40px;
    transition: all 0.3s ease-in-out;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--width);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}

@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--width) - var(--narrow-width)));
    transition: all 0.6s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
}
html, body{
    overflow-x: hidden;
}
}

@media (max-width: 767px){
.elementor-439 .elementor-element.elementor-element-49d1ad1{
    height: 100vh;
}
body.left .elementor-439 .elementor-element.elementor-element-49d1ad1{
    transform: translateX(calc(-1*var(--width)));   
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0;
    transform: translateX(var(--width));
    transition: all 0.3s ease-in-out !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    transform: translateX(0);
}
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */